# Virtual environment and Environment files
backend/venv
backend/.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# SQLite DB and User Files
backend/tabulariq.db
backend/uploads
