fastapi
uvicorn[standard]

pydantic
pydantic-settings

sqlalchemy
alembic

passlib[bcrypt]
python-jose[cryptography]

python-multipart

pandas
numpy

groq

python-dotenv

openpyxl

matplotlib

seaborn

httpx

pytest